.project {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  font-size: 1.3vw;
  height: 100%;
}
.project-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
}
.project-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
}
.project .item-title {
  font-size: 2em;
  color: dodgerblue;
}
.project .item-link {
  color: dimgray;
  font-size: 0.2em;
  padding: 0.1em 0.3em;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 0.8em;
}
.project .item-info {
  margin: 0;
}
