.contact {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  font-size: 1.3vw;
  height: 100%;
}
.contact-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
}
.contact-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  flex: auto;
}
.contact-main, .contact-other {
  font-size: 3em;
}
.main-item {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  color: dodgerblue;
  cursor: pointer;
}
.contact-icon {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-right: 20px;
}
.contact-icon i {
  font-size: 1em;
  margin: 0;
}
.item-content {
  font-size: 0.5em;
  color: dimgray;
  margin-left: 0.4em;
}
.contact-other {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.other-title {
  font-size: 0.6em;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
  position: relative;
}
.other-title::before {
  position: absolute;
  content: "";
  width: 10em;
  border: 1px dashed #666;
  left: -11em;
  top: 50%;
}
.other-title::after {
  position: absolute;
  content: "";
  width: 10em;
  border: 1px dashed #666;
  right: -11em;
  top: 50%;
}
.other-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}
.other-item {
  margin: 0 5px;
}
.other-item i {
  font-size: 1em;
}
