.layout-aside .layout-logo {
    height: 32px;
    background: #404040;
    margin: 16px 24px;
    transition: all .3s;
    overflow: hidden;
    white-space: nowrap;
}

.layout-aside-collapse .layout-logo {
    margin: 16px;
    transition: all .3s;
}

#logo {
    font-size: 30px;
    color: #ffffff;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -ms-transition:all 1s;
    transition:all 1s;
}
#logo:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.layout-aside .layout-logo .title-text {
    vertical-align: top;
    display: inline-block;
    color: #fff;
    line-height: 32px;
    font-size: 20px;
}
.layout-aside .layout-sider {
    width: 150px;
    background: #404040;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.layout-aside-collapse .layout-sider {
    width: 64px;
    transition: all .3s;
}
.layout-aside .layout-sider .nav-text {
    font-size: 16px;
}
.layout-aside .layout-sider .iconfont {
    font-size: 16px;
    transition:  all .3s;
}
.layout-aside-collapse .layout-sider .iconfont {
    font-size: 18px;
}

.layout-aside .aside-action {
    height: 42px;
    width: 150px;
    position: absolute;
    bottom: 0;
    background: #656565;
    color: #fff;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    transition: all .3s;
}

.layout-aside-collapse .aside-action {
    width: 64px;
    transition: all .3s;
}

.layout-aside .layout-flip {
    position: fixed;
    left: 150px;
    right: 0;
    bottom: 20px;
    height: 30px;
    z-index: 99;
    transition: all .3s;
}

.layout-aside-collapse .layout-flip {
    left: 64px;
    transition: all .3s;
}

.layout-aside .layout-flip .ant-btn {
    font-size: 14px;
    opacity: 0.7;
}

.layout-aside .layout-flip .back {
    position: absolute;
    height: 100%;
    left: 16px;
}

.layout-aside .layout-flip .next {
    position: absolute;
    height: 100%;
    right: 16px;
}

.layout-aside .layout-main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 40px 40px 40px;
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    transition: all .3s;
    /*font-size: 15px;*/
    /*color: #404040;*/
    background: #f7f8fa;
}

.layout-aside-collapse .layout-main {
    left: 64px;
    transition: all .3s;
}

.layout-main .transitionWrapper-enter{
    opacity: 0.01;
    transition: all 1000ms ease;
    transform: translate3d(100%,0,-20px);
    -webkit-transform: translate3d(100%,0,-20px);
    -ms-transform: translate3d(100%,0,-20px);
    /*transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);*/
}

.layout-main.back .transitionWrapper-enter {
   transform: translate3d(-100%,0,-20px);
    -webkit-transform: translate3d(-100%,0,-20px);
    -ms-transform: translate3d(-100%,0,-20px);
    /*transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);*/
}

.layout-main .transitionWrapper-enter.transitionWrapper-enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    /*transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);*/
}

.layout-main .transitionWrapper-leave{
    opacity: 1;
    transition: all 1000ms ease;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    /*transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);*/
}

.layout-main .transitionWrapper-leave.transitionWrapper-leave-active {
    opacity: 0;
    transform: translate3d(-100%,0,-20px);
    -webkit-transform: translate3d(-100%,0,-20px);
    -ms-transform: translate3d(-100%,0,-20px);
    /*transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);*/
}

.layout-main.back .transitionWrapper-leave.transitionWrapper-leave-active {
    transform: translate3d(100%,0,-20px);
    -webkit-transform: translate3d(100%,0,-20px);
    -ms-transform: translate3d(100%,0,-20px);
    /*transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);*/
}

.layout-main .transitionWrapper{
    position: relative;
    height: 100%;
}

.home-container,
.about-container,
.skill-container,
.project-container,
.contact-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 1.3vw;
    font-family: Lato,"Microsoft YaHei",sans-serif;
    height: 100%;
    line-height: 1.15;
}

.home-container {
    align-items: center;
    height: 85vh;
}

.home-container .avatar-img {
    width: 30vh;
    height: 38vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.home-container .avatar {
    width: 30vh;
    height: 30vh;
    box-sizing: border-box;
    border: 10px solid dodgerblue;
    border-radius: 50%;
}

.home-container .home-info {
    flex: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    line-height: 1.4;
}

.home-container .my-name {
    font-size: 3em;
    font-weight: 600;
    /*text-shadow: 1px 2px deepskyblue,2px 4px lightskyblue;*/
    /*color:whitesmoke;*/
}

.home-container .my-word {
    font-size: 1.3em;
    font-weight: 400;
    /*color:#eee;*/
}

.home-container .my-profession {
    font-size: 1.4em;
    font-weight: 500;
    /*color: ghostwhite;*/
    margin: 0.2em 0;
    margin-bottom: 2.5em;
}

.home-container .my-email {
    font-size: 1.1em;
    font-weight: 400;
    color:dimgray;
}

.home-container .my-email:hover {
    color: antiquewhite;
}

.about-container .about-title,
.skill-container .skill-title,
.project-container .project-title,
.contact-container .contact-title{
    font-size: 3em;
    font-weight: 600;
    /*text-shadow: 1px 2px deepskyblue,2px 4px lightskyblue;*/
    /*color:whitesmoke;*/
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
}

.about-container .about-content,
.skill-container .skill-content,
.project-container .project-content,
.contact-container .contact-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    flex: auto;
}

.contact-container .contact-content {
    flex-direction: column;
    align-items: center;
}

.about-container .item,
.skill-container .item {
    width: 20em;
    height: 6.5em;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 1em;
}

.skill-container .item {
    width: 30em;
    height: 9em;
}

.about-container .item-icon,
.skill-container .item-icon {
    width: 4em;
    height: 4em;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.about-container .item-icon i,
.skill-container .item-icon i {
    font-size: 4em;
    color: dodgerblue;
}

.about-container .item-info,
.skill-container .item-info {
    margin-left: 1em;
    height: 100%;
    width: 60%;
}

.about-container .item-info {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.about-container .info-title,
.skill-container .info-title {
    font-size: 2em;
    color: dodgerblue;
    line-height: 2em;
}

.about-container .info-desc,
.skill-container .info-desc {
    font-size: 1.5em;
    color: dimgray;
}

.skill-container .info-desc {
    font-size: 1.2em;
}

.ant-modal-body .big-img {
    text-align: center;
    width: 100%;
}

.project-container .ant-timeline {
    width: 100%;
}

.project-container .item-title {
    font-size: 2em;
    color: dodgerblue;
}

.project-container .item-link {
    color: dimgray;
    font-size: 0.5em;
    padding: 0.1em 0.3em;
    margin-left: 10px;
    border: 1.5px solid darkgray;
    border-radius: 10px;
}

.project-container .item-link i {
    margin: 0;
}

.project-container .item-info {
    margin:10px 40px 10px 0;
    /*width: 100%;*/
}

.project-container .item-desc {
    color: dimgray;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.project-container .item-img img{
    border: 2px solid antiquewhite;
    cursor: pointer;
    cursor: zoom-in;
    margin-right: 10px;
    max-height: 245px;
}

.contact-container .contact-main,
.contact-container .contact-other {
    font-size: 3em;
}

.contact-container .main-item {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.7em;
    color: dodgerblue;
    cursor: pointer;
}

.contact-container a.main-item:hover {
    color: steelblue;
    opacity: 0.7;
}

.contact-container a.main-item:hover .item-content {
    color: antiquewhite;
}

.contact-container .item-icon {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-right: 10px;
}

.contact-container .item-icon i {
    margin: 0;
}

.contact-container .item-content {
    font-size: 0.5em;
    color: dimgray;
    line-height: 1em;
}

.contact-container .contact-other {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.contact-container .other-title {
    font-size: 0.6em;
    /*color: whitesmoke;*/
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}

.contact-container .other-title::before {
    position: absolute;
    content: '';
    width: 10em;
    border: 1px dashed #eee;
    left: -11em;
    top: 50%;
}

.contact-container .other-title::after {
    position: absolute;
    content: '';
    width: 10em;
    border: 1px dashed #eee;
    right: -11em;
    top: 50%;
}

.contact-container .other-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contact-container .other-item {
    margin: 0 5px;
}

.contact-container .other-item i {
    margin: 0;
}


@font-face {font-family: "iconfont";
  src: url('./assets/fonts/iconfont.eot?t=1485850871722'); /* IE9*/
  src: url('./assets/fonts/iconfont.eot?t=1485850871722#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/fonts/iconfont.woff?t=1485850871722') format('woff'), /* chrome, firefox */
  url('./assets/fonts/iconfont.ttf?t=1485850871722') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./assets/fonts/iconfont.svg?t=1485850871722#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    min-width: 14px;
    margin-right: 8px;
    transition: all .3s;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont:before {
    display: block;
    font-family: "iconfont" !important;
}

.icon-qq:before { content: "\e617"; }

.icon-link:before { content: "\e60a"; }

.icon-coordinate:before { content: "\e650"; }

.icon-experience:before { content: "\e6de"; }

.icon-english1:before { content: "\e61e"; }

.icon-jianli:before { content: "\e61a"; }

.icon-index:before { content: "\e637"; }

.icon-github:before { content: "\e735"; }

.icon-state:before { content: "\e621"; }

.icon-weixin:before { content: "\e68b"; }

.icon-weibo:before { content: "\e653"; }

.icon-Programming:before { content: "\e6ab"; }

.icon-project:before { content: "\e604"; }

.icon-contact:before { content: "\e6cc"; }

.icon-html:before { content: "\e601"; }

.icon-jquery:before { content: "\e605"; }

.icon-about:before { content: "\e60f"; }

.icon-intention:before { content: "\e692"; }

.icon-education:before { content: "\e694"; }

.icon-email:before { content: "\e60c"; }

.icon-javascript:before { content: "\e608"; }

.icon-skill:before { content: "\e651"; }

.icon-tools:before { content: "\e603"; }

.icon-University:before { content: "\e600"; }

.icon-sex:before { content: "\e638"; }

.icon-age:before { content: "\e681"; }

.icon-english:before { content: "\e643"; }

.icon-zhihu:before { content: "\e609"; }

.icon-css:before { content: "\e60e"; }

.icon-sass:before { content: "\e646"; }

.icon-xiaochengxu:before { content: "\e606"; }

.icon-react:before { content: "\e770"; }

.icon-frame:before { content: "\e607"; }
