
.layout-aside {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #404040;
  transition: all .3s;
}
.layout-aside-collapse {
  width: 64px;
  /*transition: all .3s;*/
}
.layout-aside-collapse .layout-logo {
  margin: 16px;
  transition: all .3s;
}
ul, li {
  list-style-type: none;
}
.nav-text {
  font-size: 16px;
  color: #fff;
}
a {
  text-decoration: none;
}
.aside-action {
  width: 150px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background: #656565;
  cursor: pointer;
  text-align: center;
}
.aside-action-collapse {
  width: 64px;
  transition: all .3s;
}
.layout-logo {
  height: 32px;
  line-height: 32px;
  margin: 16px 24px;
  background: #404040;
  transition: all .3s;
  overflow: hidden;
}

.logo {
  font-size: 30px;
  color: #fff;

}
.logo:hover {

}

.title-text {
  color: #fff;
  line-height: 32px;
  font-size: 20px;
  display: inline-block;
  transition: all .3s;
  vertical-align: top;
}
